
<div class=" container-fluid footer">
            <div class="container">
            <div class="d-flex bd-highlight mb-3">
                <div class="mr-auto p-2 bd-highlight" style="font-weight: 600;">
                     2021@copyright.AllRights Reserved BULK Academy
                </div>
            </div>
        </div>
        </div>


</body>
</html>