<section id="navbar">
    <div class="container-fluid topcont">
        <nav class="navbar navbar-expand-lg navbar-light container fixed-top">
        <a class="navbar-brand" href="/home" style="font-weight: 700; color: rgb(68, 68, 63);">BULK Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <button class="btn btn-success"> <a style="color: white; text-decoration: none;" href="/addstudent">Add Student</a></button>
                </li>
            </ul>
        </div>
        </nav>
    </div>
    
</section>
