<%- include("partials/header") %>
<%- include("partials/navbar") %> 

    <br> <br>
    <div class="container">
        <div class="row">
            <div class="com-md-4">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(151, 36, 93);">
                    <p class="card-text">Form Four</p>
                </div>
                </div>
            </div>
            <div class="col-md-8">
                <br> <br>
                <div class="container form-cont">
                    <a href="/fourEast"> <button class="btn btn-danger">Four East</button></a>
                    <a href="/fourWest"> <button class="btn btn-warning">Four West</button></a>
                    <a href="/fourSouth"> <button class="btn btn-success">Four South</button></a>
                    <a href="/fourNorth"> <button class="btn btn-secondary">Four North</button></a>
                </div>
            </div>
        </div>
    
    </div>
    <div class="container">
        <br>
        <hr>
        <a href="/formOne"> <button class="btn btn-primary">Form One</button></a>
        <a href="/formTwo"> <button class="btn btn-primary">Form Two</button></a>
        <a href="/formThree"> <button class="btn btn-primary">Form Three</button></a>
    </div>

<%- include("partials/footer") %> 