<%- include("partials/header") %>
<%- include("partials/navbar") %> 

    <br> <br>
    <div class="container">
        <div class="row">
            <div class="com-md-4">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(95, 45, 153);">
                    <p class="card-text">Form Three</p>
                </div>
                </div>
            </div>
            <div class="col-md-8">
                <br> <br>
                <div class="container form-cont">
                    <a href="/threeEast"> <button class="btn btn-danger">Three East</button></a>
                    <a href="/threeWest"> <button class="btn btn-warning">Three West</button></a>
                    <a href="/threeSouth"> <button class="btn btn-success">Three South</button></a>
                    <a href="/threeNorth"> <button class="btn btn-secondary">Three North</button></a>
                </div>
            </div>
        </div>
    
    </div>
    <div class="container">
        <br>
        <hr>
        <a href="/formOne"> <button class="btn btn-primary">Form One</button></a>
        <a href="/formTwo"> <button class="btn btn-primary">Form Two</button></a>
        <a href="/formFour"> <button class="btn btn-primary">Form Four</button></a>
    </div>

<%- include("partials/footer") %> 