<%- include("partials/header") %>
<%- include("partials/navbar") %> 

    <br> <br>
    <div class="container">
        <div class="row">
            <div class="com-md-4">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(226, 185, 110);">
                    <p class="card-text">Form One</p>
                </div>
                </div>
            </div>
            <div class="col-md-8">
                <br> <br>
                <div class="container form-cont">
                    <a href="/oneEast"> <button class="btn btn-danger">One East</button></a>
                    <a href="/oneWest"> <button class="btn btn-warning">One West</button></a>
                    <a href="/oneSouth"> <button class="btn btn-success">One South</button></a>
                    <a href="/oneNorth"> <button class="btn btn-secondary">One North</button></a>
                </div>
            </div>
        </div>
    
    </div>
    <div class="container">
        <br>
        <hr>
        <a href="/formTwo"> <button class="btn btn-primary">Form Two</button></a>
        <a href="/formThree"> <button class="btn btn-primary">Form Three</button></a>
        <a href="/formFour"> <button class="btn btn-primary">Form Four</button></a>
    </div>

<%- include("partials/footer") %> 