<%- include("partials/header") %>
<%- include("partials/navbar") %> 

    <br> <br>
    <div class="container">
        <div class="row">
            <div class="com-md-4">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(45, 146, 146);">
                    <p class="card-text">Form Two</p>
                </div>
                </div>
            </div>
            <div class="col-md-8">
                <br> <br>
                <div class="container form-cont">
                    <a href="/twoEast"> <button class="btn btn-danger">Two East</button></a>
                    <a href="/twoWest"> <button class="btn btn-warning">Two West</button></a>
                    <a href="/twoSouth"> <button class="btn btn-success">Two South</button></a>
                    <a href="/twoNorth"> <button class="btn btn-secondary">Two North</button></a>
                </div>
            </div>
        </div>
    
    </div>
    <div class="container">
        <br>
        <hr>
        <a href="/formOne"> <button class="btn btn-primary">Form One</button></a>
        <a href="/formThree"> <button class="btn btn-primary">Form Three</button></a>
        <a href="/formFour"> <button class="btn btn-primary">Form Four</button></a>
    </div>

<%- include("partials/footer") %> 