<%- include("partials/header") %>
<%- include("partials/navbar") %> 

    <div class="container home-container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(226, 185, 110);">
                    <p class="card-text">Form One</p>
                </div>
                    <a href="/formOne"> See More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(45, 146, 146);">
                    <p class="card-text" >Form Two</p>                    
                </div>
                    <a href="/formTwo"> See More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(95, 45, 153);">
                    <p class="card-text">Form Three</p>                    
                </div>
                    <a href="/formThree"> See More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(151, 36, 93);">
                    <p class="card-text">Form Four</p>                    
                </div>
                    <a href="/formFour"> See More</a>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") %> 